#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#root>main {
    flex: 1 0 auto;
}

/*
 *Custom waves
*/

.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(3, 155, 229, 0.65);
}

/* Custom background color for active pagination links */

.pagination li.active a {
    background-color: #2196f3
}